.navbar a {
    border: none;
}
.navbar {
  color: black;
}

html {
    height: 100%;
  }

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
  }

.bh-absolute-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

footer {
    background-color: #cbdc83;
    color: $color-white;
    height: 50px; 
    text-align: center;
}
.txt_footer {
  margin-top: 5pt;
  margin-bottom: 5pt;
  font-size: 14pt;
 }


#to-top {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color:#006c56; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  //padding: 15px; /* Some padding */
  width: 40px;
  height: 40px;
  border-radius: 20px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  &:hover {
    background-color:#cbdc83; 
  }
}
.btn {
  color: #006c56; 
}
.img_toepassing {
  width: 350px;
  margin-bottom: 10pt; 
}
.download {
  background-color: #cbdc83;
  border: none;
  margin-bottom: 30px;
  margin-top: 30px;
  color: black; 
}
