.navbar a {
    border: none;
}
.navbar {
  color: black;
}

html {
    height: 100%;
  }

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
  }

.bh-absolute-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

footer {
    background-color: #cbdc83;
    color: $color-white;
    height: 50px; 
    text-align: center;
}
.txt_footer {
  margin-top: 5pt;
  margin-bottom: 5pt;
  font-size: 14pt;
 }


#to-top {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color:#006c56; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  //padding: 15px; /* Some padding */
  width: 40px;
  height: 40px;
  border-radius: 20px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  &:hover {
    background-color:#cbdc83; 
  }
}
.btn {
  color: #cbdc83;
}
.navbar {
  font-family: 'Karla-bold';
  font-size: 14pt;
  text-align: right;
}
.txt_footer {
margin-top: 5pt;
margin-bottom: 5pt;
}
body {
  font-size: 16pt;
}
.img_toepassing {
  width: 100%;
  margin-bottom: 10pt; 
}

.download {
  background-color: #cbdc83;
  border: none;
  margin-bottom: 30px;
  margin-top: 30px;
  color: white; 
}
.download:hover {
  background-color: #006c56; 
  color: white;
}
h1 {
  margin-top: 20px; 
}
h2 {
  font-family: 'Karla-bold'
}
.img_stijlelement {
  width: 100%;
}

.index {
  margin-top: 30px;
  margin-bottom:30px;
  background-color: #cbdc83;
  color: black;
  text-align: center;
  text-decoration: none;
}
.icon {
  width: 20px; 
}