---
---
@charset "UTF-8";

@import "main";

.img_toepassingen {
    width: 100px;
}
.btn {
    color: #cbdc83;
}
.navbar {
    font-family: 'Karla-bold';
    font-size: 14pt;
}
.txt_footer {
 margin-top: 5pt;
 margin-bottom: 5pt;
}
body {
    font-size: 16pt;
}
